SUPABASE_URL=https://nblpihylwzdhnchrngay.supabase.co
SUPABASE_SERVICE_ROLE_KEY=COLE_SUA_SECRET_KEY_AQUI
JWT_SECRET=rise_juridico_159753
FRONTEND_URL=https://juridicorise.grupoteamcloud.com.br
PORT=3000
NODE_ENV=production
